@import url("https://wildflowerui.netlify.app/pages/components/Button/button.css");

.noProductsWrapper{
    margin: 5% 20%; 
}

.noProdsImg{
   width: 100%;
   height: auto;
}

.link-cta{
    word-wrap: wrap;
    width: 20rem;
}
