@import url("https://wildflowerui.netlify.app/pages/components/Button/button.css");

.noProductsWrapper{
    margin: 2% 30%;
}

.noProdsImg{
   width:100%;
   height: 300px;
}

.noProductsWrapper .linkCta{
    word-wrap: wrap;
    width: 20rem;
    margin-bottom: 3rem;
    color: var(--black);
}

.noProductsWrapper .linkCta:hover{
    background-color: var(--blackl1);
}

